In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

### **Contexto:**

Eres un científico de datos en un equipo de salud que investiga factores de riesgo para la diabetes. Te han entregado un conjunto de datos real que contiene información médica de pacientes, y tu tarea es analizarlo y normalizar algunas de sus variables clave para facilitar la detección de patrones.

### **Objetivos:**

1. **Cargar el dataset** de [Kaggle: Diabetes Data Set](https://www.kaggle.com/datasets/mathchi/diabetes-data-set).
2. **Calcular estadísticas descriptivas** para entender mejor los datos:
    - Media, mediana y desviación estándar de al menos tres columnas numéricas de tu elección.
3. **Detectar valores atípicos** usando el rango intercuartílico (IQR).
4. **Normalizar una de las variables** con Z-score y otra con Min-Max Scaling.
5. **Clasificar los valores de glucosa** en categorías ("Bajo", "Normal", "Alto") aplicando una función personalizada.
6. **Agrupar los pacientes por alguna variable categórica** y calcular el promedio de otra variable dentro de cada grupo.

In [3]:
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
#Glucosa
media_glucosa = df["Glucose"].mean()
mediana_glucosa = df["Glucose"].median()
desviacion = df["Glucose"].std()
print(f"Media glucosa: {media_glucosa}")
print(f"Mediana glucosa: {mediana_glucosa}")
print(f"Desviación glucosa: {desviacion}")

#Presión en sangre
media_glucosa = df["BloodPressure"].mean()
mediana_glucosa = df["BloodPressure"].median()
desviacion = df["BloodPressure"].std()
print(f"Media BloodPressure: {media_glucosa}")
print(f"Mediana BloodPressure: {mediana_glucosa}")
print(f"Desviación BloodPressure: {desviacion}")

#Insulina
media_glucosa = df["Insulin"].mean()
mediana_glucosa = df["Insulin"].median()
desviacion = df["Insulin"].std()
print(f"Media Insulin: {media_glucosa}")
print(f"Mediana Insulin: {mediana_glucosa}")
print(f"Desviación Insulin: {desviacion}")

Media glucosa: 120.89453125
Mediana glucosa: 117.0
Desviación glucosa: 31.97261819513622
Media BloodPressure: 69.10546875
Mediana BloodPressure: 72.0
Desviación BloodPressure: 19.355807170644777
Media Insulin: 79.79947916666667
Mediana Insulin: 30.5
Desviación Insulin: 115.24400235133817

In [5]:
#IQR
def iqr(columna):
    percentil_25 = df[columna].quantile(0.25)
    percentil_75 = df[columna].quantile(0.75)
    iqr = percentil_75 - percentil_25
    i = -1
    for e in df[columna]:
        i += 1
        if e < (percentil_25 - 1.5 * iqr) or e > (percentil_75 + 1.5 * iqr):
            print(f"Valor numero {i} con {e}")
    print("------------------------------------------")

iqr("Glucose")
iqr("BloodPressure")
iqr("Insulin")

Valor numero 75 con 0
Valor numero 182 con 0
Valor numero 342 con 0
Valor numero 349 con 0
Valor numero 502 con 0
------------------------------------------
Valor numero 7 con 0
Valor numero 15 con 0
Valor numero 18 con 30
Valor numero 43 con 110
Valor numero 49 con 0
Valor numero 60 con 0
Valor numero 78 con 0
Valor numero 81 con 0
Valor numero 84 con 108
Valor numero 106 con 122
Valor numero 125 con 30
Valor numero 172 con 0
Valor numero 177 con 110
Valor numero 193 con 0
Valor numero 222 con 0
Valor numero 261 con 0
Valor numero 266 con 0
Valor numero 269 con 0
Valor numero 300 con 0
Valor numero 332 con 0
Valor numero 336 con 0
Valor numero 347 con 0
Valor numero 357 con 0
Valor numero 362 con 108
Valor numero 426 con 0
Valor numero 430 con 0
Valor numero 435 con 0
Valor numero 453 con 0
Valor numero 468 con 0
Valor numero 484 con 0
Valor numero 494 con 0
Valor numero 522 con 0
Valor numero 533 con 0
Valor numero 535 con 0
Valor numero 549 con 110
Valor numero 589 con 0
Valor numero 597 con 24
Valor numero 601 con 0
Valor numero 604 con 0
Valor numero 619 con 0
Valor numero 643 con 0
Valor numero 691 con 114
Valor numero 697 con 0
Valor numero 703 con 0
Valor numero 706 con 0
------------------------------------------
Valor numero 8 con 543
Valor numero 13 con 846
Valor numero 54 con 342
Valor numero 111 con 495
Valor numero 139 con 325
Valor numero 153 con 485
Valor numero 186 con 495
Valor numero 220 con 478
Valor numero 228 con 744
Valor numero 231 con 370
Valor numero 247 con 680
Valor numero 248 con 402
Valor numero 258 con 375
Valor numero 286 con 545
Valor numero 296 con 360
Valor numero 360 con 325
Valor numero 370 con 465
Valor numero 375 con 325
Valor numero 392 con 415
Valor numero 409 con 579
Valor numero 415 con 474
Valor numero 480 con 328
Valor numero 486 con 480
Valor numero 519 con 326
Valor numero 574 con 330
Valor numero 584 con 600
Valor numero 612 con 321
Valor numero 645 con 440
Valor numero 655 con 540
Valor numero 695 con 480
Valor numero 707 con 335
Valor numero 710 con 387
Valor numero 715 con 392
Valor numero 753 con 510
------------------------------------------

In [6]:
# Normalizo la glucosa con z-score
scaler = StandardScaler()
df["Glcosa Normalizada Z"] = scaler.fit_transform(df[["Glucose"]])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glcosa Normalizada Z
0,6,148,72,35,0,33.6,0.627,50,1,0.848324
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396
2,8,183,64,0,0,23.3,0.672,32,1,1.943724
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208
4,0,137,40,35,168,43.1,2.288,33,1,0.504055
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642
764,2,122,70,27,0,36.8,0.340,27,0,0.034598
765,5,121,72,23,112,26.2,0.245,30,0,0.003301
766,1,126,60,0,0,30.1,0.349,47,1,0.159787
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019

In [7]:
# Insulina con min-max
df["insulina_normalizadaa"] = df["Insulin"].transform(lambda x: (x - x.min()) / (x.max() - x.min()))
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glcosa Normalizada Z,insulina_normalizadaa
0,6,148,72,35,0,33.6,0.627,50,1,0.848324,0.000000
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396,0.000000
2,8,183,64,0,0,23.3,0.672,32,1,1.943724,0.000000
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208,0.111111
4,0,137,40,35,168,43.1,2.288,33,1,0.504055,0.198582
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642,0.212766
764,2,122,70,27,0,36.8,0.340,27,0,0.034598,0.000000
765,5,121,72,23,112,26.2,0.245,30,0,0.003301,0.132388
766,1,126,60,0,0,30.1,0.349,47,1,0.159787,0.000000
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019,0.000000

In [8]:
#Clasificación glucosa

df["Glucose Categoria"] = pd.qcut(df["Glucose"], q=3, labels=["Bajo", "Normal", "Alto"])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glcosa Normalizada Z,insulina_normalizadaa,Glucose Categoria
0,6,148,72,35,0,33.6,0.627,50,1,0.848324,0.000000,Alto
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396,0.000000,Bajo
2,8,183,64,0,0,23.3,0.672,32,1,1.943724,0.000000,Alto
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208,0.111111,Bajo
4,0,137,40,35,168,43.1,2.288,33,1,0.504055,0.198582,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642,0.212766,Bajo
764,2,122,70,27,0,36.8,0.340,27,0,0.034598,0.000000,Normal
765,5,121,72,23,112,26.2,0.245,30,0,0.003301,0.132388,Normal
766,1,126,60,0,0,30.1,0.349,47,1,0.159787,0.000000,Normal
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019,0.000000,Bajo

In [9]:
df["promedio_insulina"] = df.groupby("Glucose Categoria")["Insulin"].transform("mean")
df

C:\Users\lalos\AppData\Local\Temp\ipykernel_8868\2921998427.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["promedio_insulina"] = df.groupby("Glucose Categoria")["Insulin"].transform("mean")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glcosa Normalizada Z,insulina_normalizadaa,Glucose Categoria,promedio_insulina
0,6,148,72,35,0,33.6,0.627,50,1,0.848324,0.000000,Alto,124.354582
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396,0.000000,Bajo,45.666667
2,8,183,64,0,0,23.3,0.672,32,1,1.943724,0.000000,Alto,124.354582
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208,0.111111,Bajo,45.666667
4,0,137,40,35,168,43.1,2.288,33,1,0.504055,0.198582,Alto,124.354582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642,0.212766,Bajo,45.666667
764,2,122,70,27,0,36.8,0.340,27,0,0.034598,0.000000,Normal,71.213439
765,5,121,72,23,112,26.2,0.245,30,0,0.003301,0.132388,Normal,71.213439
766,1,126,60,0,0,30.1,0.349,47,1,0.159787,0.000000,Normal,71.213439
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019,0.000000,Bajo,45.666667

Utilizando el dataset de **Boston Housing**, realiza los siguientes análisis sobre la columna **MEDV** (valor medio de las viviendas en $1000s):

1. **Cálculo de valores extremos**:
    - Obtén el valor **mínimo** y **máximo** de la columna **MEDV**.
    - Calcula el **percentil 25 y 75** de **MEDV**.
    - Calcula el **rango intercuartílico (IQR)** de **MEDV**.
2. **Detección de valores atípicos**:
    - Encuentra los **valores atípicos** usando la regla de 1.5 * IQR.
    - Imprime cuántos valores atípicos hay y cuáles son.
3. **Normalización de precios**:
    - Aplica **RobustScaler** para normalizar la columna **MEDV**.
4. **Clasificación de precios**:
    - Crea una nueva columna que clasifique las viviendas en **"Bajo"**, **"Medio"** o **"Alto"** según los siguientes criterios:
        - "Bajo" si el valor está por debajo del percentil 25.
        - "Medio" si está entre el percentil 25 y 75.
        - "Alto" si está por encima del percentil 75.
5. **Clasificación por cuartiles**:
    - Usa `qcut` para dividir los precios en **4 categorías** de igual tamaño.

In [10]:
df = pd.read_csv("BostonHousing.csv")
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [11]:
min_medv = df["medv"].min()
max_medv = df["medv"].max()
print(f"Máximo: {max_medv}")
print(f"Mínimo: {min_medv}")
percentil25_medv = df["medv"].quantile(0.25)
percentil75_medv = df["medv"].quantile(0.75)
print(f"Percentil 25: {percentil25_medv}")
print(f"Percentil 75: {percentil75_medv}")
iqr_medv = percentil75_medv - percentil25_medv
print(f"Rango intercuartílico: {iqr_medv}")

Máximo: 50.0
Mínimo: 5.0
Percentil 25: 17.025
Percentil 75: 25.0
Rango intercuartílico: 7.975000000000001

In [12]:
iqr("medv")

Valor numero 97 con 38.7
Valor numero 98 con 43.8
Valor numero 157 con 41.3
Valor numero 161 con 50.0
Valor numero 162 con 50.0
Valor numero 163 con 50.0
Valor numero 166 con 50.0
Valor numero 179 con 37.2
Valor numero 180 con 39.8
Valor numero 182 con 37.9
Valor numero 186 con 50.0
Valor numero 190 con 37.0
Valor numero 195 con 50.0
Valor numero 202 con 42.3
Valor numero 203 con 48.5
Valor numero 204 con 50.0
Valor numero 224 con 44.8
Valor numero 225 con 50.0
Valor numero 226 con 37.6
Valor numero 228 con 46.7
Valor numero 232 con 41.7
Valor numero 233 con 48.3
Valor numero 253 con 42.8
Valor numero 256 con 44.0
Valor numero 257 con 50.0
Valor numero 261 con 43.1
Valor numero 262 con 48.8
Valor numero 267 con 50.0
Valor numero 268 con 43.5
Valor numero 280 con 45.4
Valor numero 282 con 46.0
Valor numero 283 con 50.0
Valor numero 291 con 37.3
Valor numero 368 con 50.0
Valor numero 369 con 50.0
Valor numero 370 con 50.0
Valor numero 371 con 50.0
Valor numero 372 con 50.0
Valor numero 398 con 5.0
Valor numero 405 con 5.0
------------------------------------------

In [17]:
scaler = RobustScaler()  
datos_medv = np.array([[e] for e in df["medv"]])
datos_escalados = scaler.fit_transform(datos_medv)
print(datos_escalados)

[[ 0.35109718]
 [ 0.05015674]
 [ 1.69278997]
 [ 1.52978056]
 [ 1.88087774]
 [ 0.94043887]
 [ 0.21316614]
 [ 0.73981191]
 [-0.58934169]
 [-0.28840125]
 [-0.77742947]
 [-0.28840125]
 [ 0.06269592]
 [-0.10031348]
 [-0.37617555]
 [-0.1630094 ]
 [ 0.23824451]
 [-0.46394984]
 [-0.12539185]
 [-0.37617555]
 [-0.95297806]
 [-0.20062696]
 [-0.7523511 ]
 [-0.84012539]
 [-0.70219436]
 [-0.9153605 ]
 [-0.57680251]
 [-0.80250784]
 [-0.35109718]
 [-0.02507837]
 [-1.06583072]
 [-0.84012539]
 [-1.0031348 ]
 [-1.01567398]
 [-0.96551724]
 [-0.28840125]
 [-0.15047022]
 [-0.02507837]
 [ 0.43887147]
 [ 1.20376176]
 [ 1.71786834]
 [ 0.67711599]
 [ 0.51410658]
 [ 0.43887147]
 [ 0.        ]
 [-0.23824451]
 [-0.15047022]
 [-0.57680251]
 [-0.85266458]
 [-0.22570533]
 [-0.18808777]
 [-0.08777429]
 [ 0.47648903]
 [ 0.27586207]
 [-0.28840125]
 [ 1.78056426]
 [ 0.43887147]
 [ 1.30407524]
 [ 0.26332288]
 [-0.20062696]
 [-0.31347962]
 [-0.65203762]
 [ 0.12539185]
 [ 0.47648903]
 [ 1.47962382]
 [ 0.28840125]
 [-0.22570533]
 [ 0.10031348]
 [-0.47648903]
 [-0.03761755]
 [ 0.37617555]
 [ 0.06269592]
 [ 0.20062696]
 [ 0.27586207]
 [ 0.36363636]
 [ 0.02507837]
 [-0.15047022]
 [-0.05015674]
 [ 0.        ]
 [-0.11285266]
 [ 0.85266458]
 [ 0.33855799]
 [ 0.45141066]
 [ 0.21316614]
 [ 0.33855799]
 [ 0.67711599]
 [ 0.1630094 ]
 [ 0.12539185]
 [ 0.30094044]
 [ 0.94043887]
 [ 0.17554859]
 [ 0.10031348]
 [ 0.21316614]
 [ 0.47648903]
 [-0.07523511]
 [ 0.90282132]
 [ 0.02507837]
 [ 2.19435737]
 [ 2.8338558 ]
 [ 1.50470219]
 [ 0.78996865]
 [ 0.6645768 ]
 [-0.32601881]
 [-0.23824451]
 [-0.13793103]
 [-0.21316614]
 [-0.21316614]
 [-0.10031348]
 [-0.17554859]
 [-0.22570533]
 [ 0.06269592]
 [ 0.20062696]
 [-0.30094044]
 [-0.31347962]
 [-0.33855799]
 [-0.36363636]
 [ 0.        ]
 [-0.2507837 ]
 [-0.10031348]
 [-0.23824451]
 [ 0.10031348]
 [-0.11285266]
 [-0.08777429]
 [-0.48902821]
 [-0.30094044]
 [ 0.02507837]
 [-0.68965517]
 [-0.62695925]
 [-0.40125392]
 [-0.86520376]
 [-0.2507837 ]
 [-0.20062696]
 [ 0.22570533]
 [-0.35109718]
 [-0.70219436]
 [-0.38871473]
 [-0.47648903]
 [-0.51410658]
 [-0.99059561]
 [-0.42633229]
 [-0.90282132]
 [-0.85266458]
 [-0.97805643]
 [-0.70219436]
 [-1.17868339]
 [-0.92789969]
 [-0.70219436]
 [-0.82758621]
 [-0.42633229]
 [-0.72727273]
 [ 0.03761755]
 [-0.20062696]
 [-0.73981191]
 [-0.22570533]
 [-0.52664577]
 [-0.70219436]
 [-1.01567398]
 [ 2.52037618]
 [ 0.38871473]
 [ 0.26332288]
 [ 0.72727273]
 [ 3.61128527]
 [ 3.61128527]
 [ 3.61128527]
 [ 0.18808777]
 [ 0.47648903]
 [ 3.61128527]
 [ 0.32601881]
 [ 0.32601881]
 [ 0.13793103]
 [-0.47648903]
 [-0.26332288]
 [ 0.23824451]
 [ 0.30094044]
 [ 0.17554859]
 [ 1.02821317]
 [ 0.2507837 ]
 [ 0.42633229]
 [ 1.09090909]
 [ 2.00626959]
 [ 2.3322884 ]
 [ 1.88087774]
 [ 2.09404389]
 [ 1.4169279 ]
 [ 0.65203762]
 [ 1.05329154]
 [ 3.61128527]
 [ 1.35423197]
 [ 1.07836991]
 [ 1.71786834]
 [ 1.98119122]
 [ 1.1661442 ]
 [ 1.90595611]
 [ 1.24137931]
 [ 0.99059561]
 [ 3.61128527]
 [ 1.51724138]
 [ 1.14106583]
 [ 1.68025078]
 [ 1.71786834]
 [ 1.46708464]
 [ 0.36363636]
 [ 2.64576803]
 [ 3.42319749]
 [ 3.61128527]
 [ 0.17554859]
 [ 0.40125392]
 [ 0.1630094 ]
 [ 0.40125392]
 [-0.15047022]
 [ 0.06269592]
 [-0.23824451]
 [ 0.15047022]
 [ 0.86520376]
 [ 0.31347962]
 [ 0.47648903]
 [ 0.26332288]
 [ 0.94043887]
 [ 0.03761755]
 [ 0.22570533]
 [ 0.68965517]
 [ 0.06269592]
 [ 0.78996865]
 [ 1.11598746]
 [ 2.95924765]
 [ 3.61128527]
 [ 2.05642633]
 [ 1.30407524]
 [ 3.19749216]
 [ 1.29153605]
 [ 0.38871473]
 [ 1.31661442]
 [ 2.57053292]
 [ 3.39811912]
 [ 0.97805643]
 [ 0.35109718]
 [ 0.48902821]
 [ 1.29153605]
 [ 0.31347962]
 [ 0.26332288]
 [ 0.10031348]
 [-0.13793103]
 [ 0.12539185]
 [ 0.31347962]
 [-0.45141066]
 [-0.33855799]
 [ 0.38871473]
 [-0.08777429]
 [ 0.4137931 ]
 [ 0.62695925]
 [ 0.40125392]
 [ 0.45141066]
 [ 1.05329154]
 [ 2.70846395]
 [ 0.08777429]
 [-0.03761755]
 [ 2.85893417]
 [ 3.61128527]
 [ 1.85579937]
 [ 1.11598746]
 [ 1.5799373 ]
 [ 2.7460815 ]
 [ 3.46081505]
 [ 1.22884013]
 [ 1.9184953 ]
 [ 0.20062696]
 [ 1.19122257]
 [ 3.61128527]
 [ 2.79623824]
 [-0.06269592]
 [-0.01253918]
 [ 0.5015674 ]
 [ 0.40125392]
 [ 1.75548589]
 [ 1.40438871]
 [ 1.35423197]
 [ 1.50470219]
 [ 1.49216301]
 [ 0.99059561]
 [ 1.74294671]
 [ 3.03448276]
 [ 1.78056426]
 [ 3.10971787]
 [ 3.61128527]
 [ 1.37931034]
 [ 0.10031348]
 [-0.13793103]
 [ 0.2507837 ]
 [ 0.13793103]
 [ 0.45141066]
 [ 0.9153605 ]
 [ 2.01880878]
 [ 0.84012539]
 [ 0.33855799]
 [ 0.06269592]
 [ 0.92789969]
 [ 0.73981191]
 [-0.11285266]
 [ 0.1630094 ]
 [ 0.97805643]
 [ 0.45141066]
 [ 0.10031348]
 [ 0.65203762]
 [ 1.49216301]
 [ 1.86833856]
 [ 0.90282132]
 [ 1.52978056]
 [ 0.87774295]
 [ 0.20062696]
 [-0.11285266]
 [-0.63949843]
 [ 0.11285266]
 [-0.22570533]
 [ 0.05015674]
 [ 0.32601881]
 [-0.62695925]
 [-0.42633229]
 [-0.17554859]
 [ 0.23824451]
 [-0.02507837]
 [ 0.32601881]
 [ 0.23824451]
 [-0.10031348]
 [-0.33855799]
 [ 0.47648903]
 [ 0.42633229]
 [ 0.22570533]
 [ 0.12539185]
 [-0.23824451]
 [ 0.17554859]
 [-0.17554859]
 [-0.51410658]
 [-0.22570533]
 [ 0.12539185]
 [-0.06269592]
 [-0.01253918]
 [-0.21316614]
 [-0.33855799]
 [-0.07523511]
 [-0.27586207]
 [-0.31347962]
 [ 1.44200627]
 [-0.58934169]
 [ 0.33855799]
 [ 1.2539185 ]
 [-0.46394984]
 [-0.5015674 ]
 [ 0.23824451]
 [ 0.4137931 ]
 [ 0.67711599]
 [ 0.21316614]
 [ 0.36363636]
 [-0.32601881]
 [ 1.11598746]
 [-0.37617555]
 [-0.07523511]
 [-0.42633229]
 [ 0.06269592]
 [ 0.18808777]
 [ 0.17554859]
 [ 0.47648903]
 [-0.1630094 ]
 [-0.05015674]
 [-0.55172414]
 [ 0.08777429]
 [ 0.78996865]
 [ 0.08777429]
 [ 0.23824451]
 [ 3.61128527]
 [ 3.61128527]
 [ 3.61128527]
 [ 3.61128527]
 [ 3.61128527]
 [-0.92789969]
 [-0.92789969]
 [-0.77742947]
 [-0.9153605 ]
 [-0.99059561]
 [-1.01567398]
 [-1.37931034]
 [-1.35423197]
 [-1.29153605]
 [-1.24137931]
 [-1.11598746]
 [-1.55485893]
 [-1.75548589]
 [-1.34169279]
 [-1.73040752]
 [-1.37931034]
 [-1.21630094]
 [-0.76489028]
 [ 0.2507837 ]
 [-1.44200627]
 [-0.92789969]
 [-1.06583072]
 [-1.01567398]
 [-1.09090909]
 [-1.59247649]
 [-2.03134796]
 [-1.86833856]
 [-1.95611285]
 [-1.75548589]
 [-1.14106583]
 [-1.61755486]
 [-1.59247649]
 [-2.03134796]
 [-1.1661442 ]
 [ 0.84012539]
 [-0.5015674 ]
 [ 0.78996865]
 [-0.77742947]
 [-0.5015674 ]
 [-0.4137931 ]
 [-0.61442006]
 [-1.78056426]
 [-1.75548589]
 [-1.71786834]
 [-1.35423197]
 [-1.55485893]
 [-1.60501567]
 [-0.56426332]
 [-0.87774295]
 [-0.05015674]
 [-0.97805643]
 [-1.19122257]
 [-1.61755486]
 [-1.37931034]
 [-1.29153605]
 [-1.27899687]
 [-1.46708464]
 [-0.84012539]
 [-0.89028213]
 [-0.63949843]
 [-0.86520376]
 [-1.19122257]
 [-0.97805643]
 [-1.45454545]
 [-1.56739812]
 [-1.60501567]
 [-1.05329154]
 [-1.34169279]
 [-0.51410658]
 [-0.35109718]
 [-0.72727273]
 [-1.30407524]
 [-1.17868339]
 [-0.78996865]
 [-1.07836991]
 [-0.89028213]
 [-1.02821317]
 [-0.97805643]
 [-0.7523511 ]
 [-0.63949843]
 [-0.42633229]
 [-0.78996865]
 [-0.89028213]
 [-1.06583072]
 [-0.96551724]
 [-0.78996865]
 [-0.15047022]
 [-0.60188088]
 [-0.43887147]
 [-0.21316614]
 [-0.12539185]
 [ 0.02507837]
 [-0.1630094 ]
 [-0.27586207]
 [-0.26332288]
 [-0.26332288]
 [-0.13793103]
 [-0.1630094 ]
 [-0.20062696]
 [ 0.2507837 ]
 [ 1.07836991]
 [-0.92789969]
 [-0.99059561]
 [-0.56426332]
 [-1.15360502]
 [-0.82758621]
 [ 0.02507837]
 [ 0.22570533]
 [ 0.31347962]
 [ 0.47648903]
 [ 0.07523511]
 [-0.07523511]
 [ 0.        ]
 [-0.26332288]
 [-0.07523511]
 [-0.7523511 ]
 [-1.78056426]
 [-1.64263323]
 [-0.95297806]
 [-0.13793103]
 [ 0.07523511]
 [ 0.4137931 ]
 [ 0.23824451]
 [-0.18808777]
 [-0.36363636]
 [ 0.        ]
 [-0.46394984]
 [-0.55172414]
 [ 0.15047022]
 [-0.07523511]
 [ 0.33855799]
 [ 0.10031348]
 [-1.1661442 ]]

In [18]:
def clasificar_medv(valor):
    if valor < percentil25_medv:
        return "Bajo"
    elif valor < percentil75_medv:
        return "Medio"
    else:
        return "Alto"

df["categoria_medv"] = df["medv"].apply(clasificar_medv)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,categoria_medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,Medio
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,Medio
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,Alto
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,Alto
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,Medio
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,Medio
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,Medio
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,Medio
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,Bajo

In [19]:
df["categoria_medv2"] = pd.qcut(df["medv"], q=4, labels=["bajo", "medio-bajo", "medio-alto", "alto"])
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,categoria_medv,categoria_medv2
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,Medio,medio-alto
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,Medio,medio-alto
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,Alto,alto
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,Alto,alto
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,Alto,alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,Medio,medio-alto
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,Medio,medio-bajo
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,Medio,medio-alto
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,Medio,medio-alto
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,Bajo,bajo

### Parte 1: Modificaciones al cargar el DataFrame

1. **Cambiar el delimitador de campos**: Imagina que tienes un archivo CSV con delimitador por coma (`,`), pero en su lugar deseas usar tabulaciones (`\t`) para separar los valores.
    
    Para simular esta situación, utiliza una función que reemplace las comas por tabulaciones en el contenido del archivo (escoge cualquier CSV que hayas descargado para realizar los ejercicios anteriores. Este paso te permitirá ver cómo el delimitador cambia antes de cargar el archivo.
    
    ```python
    def cambiar_delimitador(contenido):
        return contenido.replace(",", "\t")
    
    with open("Catalog_v2.csv", "r") as file:
        contenido = file.read()
    
    contenido_modificado = cambiar_delimitador(contenido)
    
    with open("Catalog_v2_modificado.csv", "w") as file:
        file.write(contenido_modificado)
    
    print("El archivo ha sido modificado y guardado como Catalog_v2_modificado.csv")
    ```
    
    Después de ejecutar este código, observarás cómo las comas han sido reemplazadas por tabulaciones en el contenido del archivo simulado.
    
2. **Leer el DataFrame con el nuevo delimitador**: Utiliza el parámetro `sep` para cargar el DataFrame desde la variable `archivo_modificado` que ahora tiene tabulaciones como delimitador.

### Parte 2: Fusiones de DataFrames

1. **Crear dos DataFrames de ejemplo**: Crea los siguientes dos DataFrames `df1` y `df2`:
    
    ```python
    df1 = pd.DataFrame({
        'ID': [1, 2, 3, 4],
        'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta']
    })
    
    df2 = pd.DataFrame({
        'ID': [3, 4, 5],
        'Salario': [25000, 45000, 35000]
    })
    ```
    
2. **Fusionar ambos DataFrames por la columna 'ID'**: Realiza una **fusión interna** de los dos DataFrames utilizando la columna `'ID'` como clave.
3. **Fusionar con una fusión externa**: Realiza una **fusión externa** (tipo `'outer'`) de los DataFrames para conservar todos los registros de ambos DataFrames.
4. **Fusionar con columnas de diferentes nombres**: Crea nuevos DataFrames `df1` y `df2` con columnas de clave diferentes (`'ID_cliente'` y `'ID_usuario'`, respectivamente). Luego, realiza una fusión utilizando estos nombres de columnas diferentes.

### Parte 3: Experimentar con formatos adicionales

1. **Explorar otros formatos de tabla**: Experimenta con diferentes valores para el parámetro `tablefmt` en la función `tabulate`, como `'fancy_grid'`,  `'html'`,  `'pipe'`  y  `'latex'` , para visualizar el DataFrame en otros estilos de tabla.

In [1]:
def cambiar_delimitador(contenido):
    return contenido.replace(",", "\t")

with open("Catalog_v2.csv", "r") as file:
    contenido = file.read()

contenido_modificado = cambiar_delimitador(contenido)

with open("Catalog_v2_modificado.csv", "w") as file:
    file.write(contenido_modificado)

print("El archivo ha sido modificado y guardado como Catalog_v2_modificado.csv")

El archivo ha sido modificado y guardado como Catalog_v2_modificado.csv

In [4]:
df = pd.read_csv("Catalog_v2_modificado.csv", sep="\t")
df

,levelType,code,catalogType,name,description,sourceLink
0,CATEGORY,Street Lighting,PRODUCT,Street Lighting,Category code for Street Lighting,http://lighttree.com/Street Lighting
1,CATEGORY,Pedestrian Lighting,PRODUCT,Pedestrian Lighting,Category code for Pedestrian Lighting,http://lighttree.com/Pedestrian Lighting
2,CATEGORY,Traffic Signal Poles,PRODUCT,Traffic Signal Poles,Category code for Traffic Signal Poles,http://lighttree.com/Traffic Signal Poles
3,CATEGORY,Controls,PRODUCT,Controls,Category code for Controls,http://lighttree.com/Controls
4,CATEGORY,Downlights,PRODUCT,Downlights,Category code for Downlights,http://lighttree.com/Downlights
...,...,...,...,...,...,...
57,CATEGORY,Luminaire,ITEM,Luminaire,Category code for Luminaire,http://lighttree.com/Luminaire
58,CATEGORY,Mechanicals,ITEM,Mechanicals,Category code for Mechanicals,http://lighttree.com/Mechanicals
59,CATEGORY,Primary Chassis,ITEM,Primary Chassis,Category code for Primary Chassis,http://lighttree.com/Primary Chassis
60,CATEGORY,Primary Foundation,ITEM,Primary Foundation,Category code for Primary Foundation,http://lighttree.com/Primary Foundation
61,CATEGORY,Secondary Chassis,ITEM,Secondary Chassis,Category code for Secondary Chassis,http://lighttree.com/Secondary Chassis

In [5]:
#Parte 2
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5],
    'Salario': [25000, 45000, 35000]
})

fusion = pd.merge(df1, df2, how= 'inner', on='ID')
fusion

   ID Nombre  Salario
0   3  Pedro    25000
1   4  Marta    45000

In [6]:
fusion2 = pd.merge(df1, df2, how = "outer", on = "ID")
fusion2

   ID Nombre  Salario
0   1    Ana      NaN
1   2   Luis      NaN
2   3  Pedro  25000.0
3   4  Marta  45000.0
4   5    NaN  35000.0

In [9]:
df1 = pd.DataFrame({
    'ID_cliente': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta']
})

df2 = pd.DataFrame({
    'ID_usuario': [3, 4, 5],
    'Salario': [25000, 45000, 35000]
})

fusion3 = pd.merge(df1, df2, how = "inner", left_on = "ID_cliente", right_on = "ID_usuario")
fusion3

   ID_cliente Nombre  ID_usuario  Salario
0           3  Pedro           3    25000
1           4  Marta           4    45000

In [11]:
#Parte3
from tabulate import tabulate

df1 = pd.DataFrame({
    'ID_cliente': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta']
})

df = pd.DataFrame(df1)

formatos = ['fancy_grid', 'html', 'pipe', 'latex']

for fmt in formatos:
    print(f"Formato: {fmt}")
    print(tabulate(df, headers='keys', tablefmt=fmt))
    print("\n")

Formato: fancy_grid
╒════╤══════════════╤══════════╕
│    │   ID_cliente │ Nombre   │
╞════╪══════════════╪══════════╡
│  0 │            1 │ Ana      │
├────┼──────────────┼──────────┤
│  1 │            2 │ Luis     │
├────┼──────────────┼──────────┤
│  2 │            3 │ Pedro    │
├────┼──────────────┼──────────┤
│  3 │            4 │ Marta    │
╘════╧══════════════╧══════════╛


Formato: html
<table>
<thead>
<tr><th style="text-align: right;">  </th><th style="text-align: right;">  ID_cliente</th><th>Nombre  </th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;"> 0</td><td style="text-align: right;">           1</td><td>Ana     </td></tr>
<tr><td style="text-align: right;"> 1</td><td style="text-align: right;">           2</td><td>Luis    </td></tr>
<tr><td style="text-align: right;"> 2</td><td style="text-align: right;">           3</td><td>Pedro   </td></tr>
<tr><td style="text-align: right;"> 3</td><td style="text-align: right;">           4</td><td>Marta   </td></tr>
</tbody>
</table>


Formato: pipe
|    |   ID_cliente | Nombre   |
|---:|-------------:|:---------|
|  0 |            1 | Ana      |
|  1 |            2 | Luis     |
|  2 |            3 | Pedro    |
|  3 |            4 | Marta    |


Formato: latex
\begin{tabular}{rrl}
\hline
    &   ID\_cliente & Nombre   \\
\hline
  0 &            1 & Ana      \\
  1 &            2 & Luis     \\
  2 &            3 & Pedro    \\
  3 &            4 & Marta    \\
\hline
\end{tabular}

En este ejercicio, trabajarás con el conjunto de datos sobre el cáncer de mama, que contiene varias características de tumores benignos y malignos. A través de este ejercicio, practicarás cómo:

1. **Mergear columnas** usando `concat()`.
2. **Agrupar valores** por categorías usando `groupby()`.
3. **Filtrar datos** usando condiciones con `where()`.

### Instrucciones:

1. **Carga el dataset:** Usa el siguiente código para cargar el conjunto de datos `breast_cancer` de `scikit-learn` y convertirlo en un `DataFrame` de pandas.

```python
import pandas as pd
from sklearn.datasets import load_breast_cancer

# Cargar el dataset
data = load_breast_cancer()
df = pd.DataFrame(data.data, columns=data.feature_names)

# Añadir la columna 'target' (maligno o benigno)
df['target'] = data.target

# Mostrar las primeras filas para ver cómo está estructurado el DataFrame
print(df.head())
```

1. **Ejercicio 1 - Mergear columnas:** Crea un nuevo DataFrame que contenga solo dos columnas de características (por ejemplo, 'mean radius' y 'mean texture'). Crea otro DataFrame que contenga la columna 'target' que indica si el tumor es maligno o benigno. Fusiona ambos DataFrames. Muestra las primeras filas de este nuevo DataFrame. Aprovecha para probar el resto de parámetros vistos en clase. Prueba también a mergear con merge() añadiendo al DataFrame de la columna target otra columna ‘mean_radius’ y utiliza esta columna como clave en los dos DataFrames.
2. **Ejercicio 2 - Agrupar valores:** Agrupa el DataFrame por la columna 'target' (que indica si el tumor es maligno o benigno) y calcula la media de las características para cada grupo. Muestra el resultado.
3. **Ejercicio 3 - Filtrado con `where()`:** Filtra los datos para mostrar solo los tumores malignos (cuando el valor de 'target' es 0) y muestra las primeras filas de este conjunto filtrado.
4. **Ejercicio 4 - Filtrado con condiciones:** Filtra el DataFrame para mostrar solo los tumores cuyo 'mean radius' sea mayor que 15. Muestra las primeras filas del resultado.

### Requisitos:

- Usa `pandas` para manipular los datos.
- Para la agrupación, utiliza el método `.groupby()`.
- Para filtrar datos, puedes usar las condiciones de filtrado directamente en el DataFrame.

In [13]:
from sklearn.datasets import load_breast_cancer

# Cargar el dataset
data = load_breast_cancer()
df = pd.DataFrame(data.data, columns=data.feature_names)

# Añadir la columna 'target' (maligno o benigno)
df['target'] = data.target

# Mostrar las primeras filas para ver cómo está estructurado el DataFrame
df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,1

In [14]:
df2 = pd.concat([df["mean radius"], df["mean texture"], df["target"]], axis=1)
df2.head()

   mean radius  mean texture  target
0        17.99         10.38       0
1        20.57         17.77       0
2        19.69         21.25       0
3        11.42         20.38       0
4        20.29         14.34       0

In [16]:
media = df.groupby("target").mean()
print(media)

        mean radius  mean texture  mean perimeter   mean area  \
target
0         17.462830     21.604906      115.365377  978.376415
1         12.146524     17.914762       78.075406  462.790196

        mean smoothness  mean compactness  mean concavity  \
target
0              0.102898          0.145188        0.160775
1              0.092478          0.080085        0.046058

        mean concave points  mean symmetry  mean fractal dimension  ...  \
target                                                              ...
0                  0.087990       0.192909                0.062680  ...
1                  0.025717       0.174186                0.062867  ...

        worst radius  worst texture  worst perimeter   worst area  \
target
0          21.134811      29.318208       141.370330  1422.286321
1          13.379801      23.515070        87.005938   558.899440

        worst smoothness  worst compactness  worst concavity  \
target
0               0.144845           0.374824         0.450606
1               0.124959           0.182673         0.166238

        worst concave points  worst symmetry  worst fractal dimension
target
0                   0.182237        0.323468                 0.091530
1                   0.074444        0.270246                 0.079442

[2 rows x 30 columns]

In [20]:
tumores = df.where(df["target"] == 0).dropna()
tumores.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0.0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0.0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0.0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0.0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0.0

In [22]:
df_filtrado = df[df["mean radius"] > 15]
df_filtrado.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
4,20.29,14.34,135.1,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.2,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0
6,18.25,19.98,119.6,1040.0,0.09463,0.10900,0.1127,0.07400,0.1794,0.05742,...,27.66,153.2,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368,0

### Instrucciones:

1. **Carga el dataset:** Usa el siguiente código para cargar el conjunto de datos `iris` de `scikit-learn` y convertirlo en un `DataFrame` de pandas. Asegúrate de utilizar la columna `species` como índice.

```python
import pandas as pd
from sklearn.datasets import load_iris

# Cargar el dataset
data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)

# Añadir la columna 'species'
df['species'] = data.target_names[data.target]

# Establecer 'species' como índice
df.set_index('species', inplace=True)

# Mostrar las primeras filas para ver cómo está estructurado el DataFrame
print(df.head())

```

1. **Ejercicio 1 - Cambiar el índice:**
    - Usa el método `set_index()` para cambiar el índice del DataFrame a la columna 'sepal length (cm)'.
    - Muestra las primeras filas de este DataFrame modificado.
2. **Ejercicio 2 - Resetear el índice:**
    - Usa el método `reset_index()` para restablecer el índice a valores por defecto (números enteros).
    - Muestra las primeras filas del DataFrame resultante.
3. **Ejercicio 3 - Reindexar el DataFrame:**
    - Usa el método `reindex()` para reordenar las filas del DataFrame de manera aleatoria.
    - Muestra las primeras filas después de reindexar.
4. **Ejercicio 4 - Seleccionar datos con `.loc`, `.iloc`, `.at`, `.iat`:**
    - Usa `.loc[]` para seleccionar todas las filas donde la especie sea "setosa".
    - Usa `.iloc[]` para seleccionar las filas en la posición 10 a 20 y las columnas 2 a 4 (usa índices enteros).
    - Usa `.at[]` para obtener el valor de "sepal width (cm)" en la fila con índice "setosa" y en la primera columna.
    - Usa `.iat[]` para obtener el valor de "sepal length (cm)" en la posición de fila 0 y columna 2.
5. **Ejercicio 5 - Filtrar columnas con `usecols`:**
    - Utiliza el argumento `usecols` para cargar solo las columnas relacionadas con el "sepal length" y "sepal width" cuando cargues el DataFrame de nuevo.
    - Muestra las primeras filas de este DataFrame reducido.

### Requisitos:

- Usa `pandas` para manipular los datos.
- Asegúrate de trabajar con los índices y las localizaciones de datos de manera eficiente usando los métodos indicados.

In [122]:
from sklearn.datasets import load_iris


# Cargar el dataset
data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
# Añadir la columna 'species'
df['species'] = data.target_names[data.target]

# Establecer 'species' como índice
df.set_index('species', inplace=True)

# Mostrar las primeras filas para ver cómo está estructurado el DataFrame
df.to_csv("iris.csv")
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,5.1,3.5,1.4,0.2
setosa,4.9,3.0,1.4,0.2
setosa,4.7,3.2,1.3,0.2
setosa,4.6,3.1,1.5,0.2
setosa,5.0,3.6,1.4,0.2

In [117]:
df.reset_index(inplace = True)
df.set_index("sepal length (cm)", inplace=True)
df.head()

,species,sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),,,,
5.1,setosa,3.5,1.4,0.2
4.9,setosa,3.0,1.4,0.2
4.7,setosa,3.2,1.3,0.2
4.6,setosa,3.1,1.5,0.2
5.0,setosa,3.6,1.4,0.2

In [118]:
df.reset_index(inplace = True)
df.head()

,sepal length (cm),species,sepal width (cm),petal length (cm),petal width (cm)
0,5.1,setosa,3.5,1.4,0.2
1,4.9,setosa,3.0,1.4,0.2
2,4.7,setosa,3.2,1.3,0.2
3,4.6,setosa,3.1,1.5,0.2
4,5.0,setosa,3.6,1.4,0.2

In [119]:
df2 = df.reindex(np.random.permutation(df.index))
df2

,sepal length (cm),species,sepal width (cm),petal length (cm),petal width (cm)
96,5.7,versicolor,2.9,4.2,1.3
78,6.0,versicolor,2.9,4.5,1.5
84,5.4,versicolor,3.0,4.5,1.5
70,5.9,versicolor,3.2,4.8,1.8
28,5.2,setosa,3.4,1.4,0.2
...,...,...,...,...,...
128,6.4,virginica,2.8,5.6,2.1
112,6.8,virginica,3.0,5.5,2.1
147,6.5,virginica,3.0,5.2,2.0
98,5.1,versicolor,2.5,3.0,1.1
106,4.9,virginica,2.5,4.5,1.7

In [120]:
df.set_index("species", inplace = True)
df.loc["setosa"].head()
df.at["setosa","sepal width (cm)"].head()

species
setosa    3.5
setosa    3.0
setosa    3.2
setosa    3.1
setosa    3.6
Name: sepal width (cm), dtype: float64

In [121]:
df.reset_index(inplace = True)
df.iloc[10:21,2:5]
iat = df.iat[0,2]
print(iat)

3.5

In [124]:
iris = pd.read_csv("iris.csv", usecols= ["sepal length (cm)", "sepal width (cm)"])
iris.head()

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6